.env
.env.*
!.env.example

/vendor/
node_modules/
/public/build/
/public/hot
/public/storage

/storage/app/*
!/storage/app/.gitignore
/storage/app/codex-previews/
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/*.key

/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/auth.json
/npm-debug.log
/yarn-error.log

/.DS_Store
/**/.DS_Store
/__MACOSX/

/bd.sql
/*.sql

/arcadia_print_ajustado.png

/public/barcode/
/public/boletos_pdf/
/public/comprovantes_nfe/
/public/comprovantes_pdv/
/public/dacte/
/public/dacte_cancelamento/
/public/dacte_os/
/public/dacte_temp/
/public/dacte_temp_os/
/public/danfce/
/public/danfe/
/public/danfe_cancelamento/
/public/danfe_correcao/
/public/danfe_temp/
/public/extract/
/public/extract_importador/
/public/files/
/public/files_receita/
/public/logs_tef/
/public/nfse_pdf/
/public/nfse_temp/
/public/pdf_caixa_temp/
/public/relatorios_app/
/public/remessas_boleto/
/public/sintegra_files/
/public/sped_files/
/public/tef_comprovante/
/public/tmp_ifood/
/public/uploads/
/public/uploadsimage_temp/
/public/upload_temp/
/public/wpp_files/
/public/xml_*/
/public/zips/
